.main__container-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.main__logo {
  margin-top: 20px;

  width: 350px;
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.5);
  border-radius: 1000px;

  transform: translateX(-700%);
}

.main__title-and-desc {
  width: 50%;
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.5);
  background-color: rgb(226, 230, 234);
  border-radius: 5px;
  transform: translateX(700%);
}

.main__title {
  width: 50%;
  border-radius: 5px;

  background-color: rgb(42, 113, 253);
  color: white;
  font-size: 36px;
  margin: 0 !important;
  padding: 5px 10px !important;
  line-height: 0.85;
  box-shadow: -5px -5px 3px 3px rgba(1, 1, 1, 0.3);
  transform: translate(-5%, -25%);
}

.main__desc {
  margin: 0;
  padding: 10px 30px 40px 50px;
  line-height: 1.5;
  font-size: 18px;

  max-height: 220px;
  overflow-y: auto;
}

/* бренды */
.main__content2 {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.main__semi-title {
  display: flex;
  justify-content: center;

  width: 100%;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 5px;
  border-bottom: 5px solid rgb(136, 143, 152);
  border-top: 5px solid rgb(136, 143, 152);
  padding: 15px !important;
  /* box-shadow: 0 0px 5px 5px rgba(1, 1, 1, 0.3); */

  margin: 0 !important;

  transform: translate(-700%);
}

.main__hr {
  width: 100%;
  border: 3px solid rgb(136, 143, 152);
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.main__brand-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.main__img-brand {
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.3);
  width: 210px;
  padding: 10px;
  height: 150px;

  transform: translate(-900%);
}

.main__img-brand:nth-of-type(even) {
  transform: translate(900%);
}

.main__content-slider-desc {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border: 1px solid rgb(136, 143, 152);
  border-radius: 5px;
  padding: 10px 25px;

  width: 100%;
}

.main__slider {
  width: 50%;
}

.main__slider-desc {
  width: 50%;
  font-size: 20px;
  padding: 20px;
  background-color: rgb(226, 230, 234);
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.3);
  border-radius: 10px;

  height: 320px;

  overflow-y: auto;
}

/* ---------------ОТДЕЛ № 3------------------- */

.main__content3 {
  /* background-color: rgb(226, 230, 234); */
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 50px 0;
}

.main__img-hands {
  /* margin-top: 50px; */

  width: 400px;
  border-radius: 10px;

  transform: translate(22%, 15%);
  z-index: 1;
}

.main__list__about-team {
  width: 100%;
  list-style-type: circle;
  border-radius: 30px;
  padding: 50px 80px;
  margin-right: 40px;
  border: 1px solid rgb(42, 113, 253);
}

.main__item__about-team {
  padding: 10px;
  font-size: 20px;
}

/*  ---------------ОТДЕЛ № 4------------------- */
.main__content4 {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 50px 0;
}
/* стилизуем отзыв */

.main__div-tile-text-feedback {
  box-shadow: 5px 0 5px 5px rgba(1, 1, 1, 0.5);
  border-radius: 10px;
  padding: 0 10px;
  width: 80%;
  padding: 20px;
  background-color: rgb(226, 230, 234);
}

.main__feedback-right {
  align-self: flex-end;
  box-shadow: -5px 0 5px 5px rgba(1, 1, 1, 0.5) !important;
}

.main__stars-title {
  display: flex;
  align-items: center;
}

.div-star {
  display: flex;
  align-items: center;
}

.main__teitle-feedback {
  margin-right: 10px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.main__star-img {
  margin: 10px 1px 0;
  width: 22px;
}

.main__text-feedback {
  font-size: 18px;
}

/*  ---------------ОТДЕЛ № 5-------------------  МАРКЕТПЛЕЙСЫ И ФИЗ АДРЕС*/
.main__content5 {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

/* МАРКЕТПЛЕЙСЫ */
.main__title-marketplace {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  border-top: 5px solid rgb(136, 143, 152);
  border-bottom: 5px solid rgb(136, 143, 152);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.main__list-marketplace {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}

.main__item-marketplace {
  border-radius: 10px;
  transition: 0.1s ease;
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.2);
  border-radius: 10px;
  width: 350px;
  height: 200px;
}
.main__item-marketplace:hover {
  transition: 0.1s ease;
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.7);
}

.main__link-marketplace {
  display: block;
  height: 100%;
  border-radius: 10px;
}

.main__img-marketplace {
  display: block;
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

/* ФИЗ АДРЕС */
.main__content-addres {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.main__name-address {
  max-width: 340px;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  /* text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); */
  border-bottom: 3px solid rgb(42, 113, 253);
  margin-top: 40px;
}
.main__name-address:hover {
  color: rgb(41, 85, 173);
}

.main__img-address {
  width: 450px;
  border-radius: 10px;
  border: 5px solid transparent;
  cursor: pointer;
}

.main__img-address:hover {
  border: 5px solid rgb(42, 113, 253) !important;
}

/* -------------------------БЛОК №6 ЧАСТЫЕ ВОПРОСЫ-------------------------- */
.main__content6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin-top: 50px;
}

.main__title-questions {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%;
}

.main__list-questions {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__item-questions {
  width: 95%;
  cursor: pointer;
  border-top: 3px solid rgb(136, 143, 152);
  border-bottom: 3px solid rgb(136, 143, 152);
  padding: 10px;
  margin: 15px 0;
  transition: 0.1s ease;
}

.main__item-questions:hover {
  transition: 0.1s ease;
  border: 3px solid rgb(42, 113, 253);
  border-radius: 10px;
}

.main__item-questions-active {
  border: 3px solid rgb(136, 143, 152);
  border-radius: 10px;
}

.main__content-title-questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__content-title-questions-active {
  border-bottom: 3px solid rgb(136, 143, 152);
  padding: 5px !important;
}

.main__item-title-questions {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.main__arrow-down {
  cursor: pointer;
  padding: 5px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  transform: rotate(-135deg);
  transition: 0.5s ease;
  margin-bottom: 5px;
}
.main__arrow-up {
  margin-top: 5px;
  cursor: pointer;
  padding: 5px;
  border-top: 5px solid rgb(0, 0, 0);
  border-left: 5px solid rgb(0, 0, 0);
  transform: rotate(405deg);
  transition: 0.5s ease;
}

/* //////////////////// ДЛЯ ФУНКЦИИ СКРОЛЛА ПОКАЗАТЬ/СКРЫТЬ ЭЛЕМЕНТ */

.main-elements-right {
  transition: 0.8s;
  transform: translateX(400%);
}

.main-elements-left {
  transform: translateX(-400%);
  transition: 0.8s;
}

.main-elements-show {
  transform: translate(0%) !important;
  transition: 0.8s ease;
}

/* дисплей none для main страницы */
.main__none {
  display: none;
}

@media (max-width: 1000px) {
  .main__container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__content-slider-desc {
    display: none !important;
  }
  .main__img-hands {
    transform: translate(0);
  }
  .main__list__about-team {
    margin-right: 0px;
    padding: 5px 5px 5px 0px;
    padding-left: 25px;
  }
  .main__stars-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__list-marketplace {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  .main__item-marketplace {
    width: 250px;
    height: 150px;
    padding: 0 !important;
    margin: 0 !important;
  }
  .main__content-addres {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__content6 {
    margin-top: 20px;
  }
  .main__title-and-desc {
    width: 90%;
  }
  .main__title {
    width: 100%;
    font-size: 24px;
    transform: translate(0, -20px);
    padding: 0;
    margin: 0;
  }
  .main__desc {
    font-size: 14px !important;
    padding: 0 5px 5px 5px;
  }
  .main__content2 {
    margin-top: 50px;
  }
  .main__semi-title,
  .main__title-marketplace,
  .main__title-questions {
    font-size: 20px !important;
    margin-bottom: 5px;
  }
  .main__item__about-team {
    font-size: 18px;
  }
  .main-elements-right,
  .main-elements-left {
    transform: translate(0) !important;
  }
  .main__content4 {
    padding: 0;
  }
  .main__name-address {
    font-size: 32px;
    margin: 0;
  }
}
