.count-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.count-basket__input {
  font-size: 18px;
  width: 50%;
  padding: 5px;
}

.count-basket__btn-minus,
.count-basket__btn-plus {
  display: flex;
  justify-content: center;
  background-color: rgb(38, 98, 220);
  border: none;
  color: white;
  font-size: 24px;
  font-weight: 700;
  width: 30px;
  cursor: pointer;
  padding: 5px 20px;
}

.count-basket__btn-minus:hover,
.count-basket__btn-plus:hover {
  background-color: rgb(53, 139, 209);
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.1);
}

.none {
  display: none;
}
