/* Кнопка */
.navigation-link {
  color: rgb(42, 42, 42);
  background-color: transparent;
  padding: 24px 30px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 0;
  transition: 0.3s;
  display: inline-block;
}

.navigation-link.active {
  background-color: rgb(236, 236, 236);
}

.navigation-link:hover {
  color: white;
  background-color: rgb(42, 113, 253);
}

.navigation-link:active {
  color: white;
  background-color: rgb(14, 74, 194);
}

@media (max-width: 1000px) {
  .navigation-link {
    padding: 15px 30px;
  }
}
