html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(220, 230, 232);
}

/* Сброс стилей */
.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1930px;
  padding: 0 15px;
}

/* Страница */
.page {
  background-color: white;
  padding: 20px;
}

/* Кнопка */
.btn {
  padding: 10px 15px;
  background-color: rgb(38, 98, 220);
  cursor: pointer;
  border: none;
  color: white;
}
.btn:hover {
  background-color: rgb(62, 126, 255);
}

/* скрываем, что-то */
.none {
  display: none;
}
.none-count {
  display: none;
}

.catalog-page {
  display: flex;
}

.active-header-link {
  border-bottom: 5px solid rgb(62, 126, 255);
}
.active-header-link-btn {
  box-shadow: 0 0 5px 5px rgb(42, 113, 253);
}
.active-header-link-btn:active {
  box-shadow: 0 0 5px 5px rgb(152, 157, 167);
}

.startBtn {
  background-color: black !important;
}
