.product__btn-back {
  position: absolute;
  z-index: 3;
}

.content-slider-title-cost {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.2);
  padding: 10px;
  border-radius: 30px;
}

.product__slider {
  width: 55%;
  /* box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.2); */
  border-radius: 30px;
  padding: 10px;
}

.product__content-title-cost {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 40%;
}

.product__main-title {
  padding: 0;
  font-size: 36px;
  margin-bottom: 30px;
}

.product__div-for-btn-order-cost {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.product__desc {
  border: 1px solid rgb(38, 98, 220);
  flex-grow: 1;
  border-radius: 30px;
  padding: 20px;
  background-color: rgb(243, 242, 246);
  font-size: 20px;
}

.product__button-order {
  width: 100%;
  padding: 20px 30px;
  background-color: rgb(38, 98, 220);
  cursor: pointer;
  border: none;
  color: white;
}

.product__button-order:hover {
  background-color: rgb(62, 126, 255);
}

.product__price {
  font-size: 44px;
}
