.categories-module {
  padding-right: 10px;
  width: 230px;

  padding: 15px;

  max-height: 100vh;
}

.categories__content-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-right: 10px; */
  width: 230px;
  background-color: rgb(42, 113, 253);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.2);
  height: 83vh;
  overflow-y: auto;
}
.categories__content-categories::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.categories__content-categories::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100px;
  border: 1px solid black;
}

.title-categories {
  border-bottom: 5px solid white;
  border-radius: 10px;
  display: block;
  padding: 0 10px !important;
  font-size: 26px !important;
  text-shadow: 0 5px 5px rgba(1, 1, 1, 0.3);
  margin-bottom: 15px;
}

.list-categories {
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

.item-categories {
  text-align: start;
  border-bottom: 2px solid white;
  font-size: 16px;
  background-color: transparent;
  transition: 0.1s ease;
  padding: 5px 5px;
  margin: 12px 0;
  cursor: pointer;
  font-size: 18px;
}

.item-categories:hover {
  border: 2px solid white;
  padding: 15px 5px;
  border-radius: 3px;
}

.item-categories.active {
  border: 2px solid white;
  padding: 10px 0 15px;
  border-radius: 3px;
  color: rgb(42, 113, 253);
  font-weight: 700;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.2);
}

.categories__none {
  transition: 0.5s;
  display: none;
}

.fixed-block {
  position: fixed;
  transform: translateY(-15.5%);
  height: 98vh;
}
.categories-module-fixed {
  width: 260px;
}
