.list-brand {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.brand {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: 0.3s;
  border-bottom: 3px solid rgb(186, 186, 186);
}

.brand:hover {
  background-color: rgb(186, 186, 186);
  color: white;
}

.active-brand {
  border-bottom: 3px solid rgb(42, 113, 253);
  border-radius: 5px;
  background-color: rgb(42, 113, 253);
  color: white;
}
.active-brand:hover {
  background-color: rgb(42, 113, 253);
}

.brand__not-found-text {
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 5px 5px rgba(1, 1, 1, 0.3);
}
