.basket-page {
  padding: 40px;
}

.basket__main-title {
  padding: 0;
}

.basket__desc {
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 5px solid rgb(136, 143, 152);
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.basket__rules {
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  border: 1px solid rgb(42, 113, 253);
  border-radius: 30px;
}

.basket__rule {
  margin-left: 20px;
  font-size: 16px;
}

.basket__link {
  color: rgb(42, 113, 253);
  font-weight: 700;
  font-size: 18px;
}
.basket__link:hover {
  text-shadow: 1.5px 1.5px 2px rgb(131, 84, 134);
}

.basket__list-basket {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 52px;
  font-weight: 700;
}

.basket__item-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid rgb(136, 143, 152);
  border-radius: 5px;
  cursor: pointer;
  gap: 20px;
  transition: 0.3s ease;
  font-size: 18px;
  font-weight: 300;
}
.basket__item-basket:hover {
  border-radius: 20px;
  transition: 0.3s ease;
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.9);
}

.basket__title-product {
  width: 50%;
}
.basket__title-product:hover {
  color: rgb(42, 113, 253);
}

.basket__img-product {
  height: 100px;
  width: 10%;
  min-width: 120px;
  border-radius: 10px;
  border: 1px solid rgb(136, 143, 152);
  transition: 0.1s;
}
.basket__img-product:hover {
  border: 5px solid rgb(42, 113, 253);
  transition: 0.1s;
}

.basket__price-product {
  width: 15%;
}

.basket__btn-order {
  display: block;
  padding: 25px 15px;
  font-size: 24px;
  width: 270px;
  border: 1px solid rgb(42, 113, 253);
  color: rgb(42, 113, 253);
  border-radius: 5px;
  transition: background, color 0.5s ease;
}
.basket__btn-order:hover {
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.9);
  background-color: rgb(42, 113, 253);
  color: white;
  transition: background, color 0.5s ease;
}

@media (max-width: 1000px) {
  .basket__main-title {
    margin: 0;
    padding: 0 !important;
  }
  .basket__desc {
    margin: 0 0 20px;
    font-size: 18px;
    text-transform: none;
  }
  .basket__item-basket {
    display: flex;
    flex-direction: column;
  }
  .basket__img-product {
    width: 70%;
    height: 120px;
  }
  .basket__title-product {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }
  .basket__price-product {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 5px !important;
    padding: 0 !important;
    width: 100%;
  }
  .basket__btn-order {
    width: 100%;
  }
}
